html, body {
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.white {
	color: white;
}

.dark-grey {
  color: #4D4D4D;
}

.red {
  color: #8B0000;
  font-weight: 800;
}

.grey {
  color: #ABABAB;
}

footer {
  margin: 60px 0px 10px 0px;
  text-align: center;
}

footer a {
	color: white;
	text-decoration: none;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);