
		<div class="card">
			<h1>SugarCoater</h1>
			<div class="form-wrapper">
				<div class="form-row description">
					<h2>The World's Premier Passive Aggressive Mindfuck Generator</h2>
					<div class="">
						<br/>
						<br/>
					<b>When you can't lose your shit, serve it up with a smile.</b>
						<br/>
						<br/>
Pissed at a boss, co-worker, fellow PTA parent, neighbor, friend--or any other human being on the planet?  Enter what you really want to say to them below.  (Ex. "Die in a fire, you fucking bitch!" "Hey, shit-for-brains, go fuck yourself!") 
						<br/>
						<br/>
And, voilà!  Vaguely demeaning, soul destroying, confusingly infuriating yet socially acceptable passive-aggressive words or behaviors that will haunt your frenemy for life will appear.   (Can be used without fear of legal action of any kind.  Guaranteed to instill insecurity,  impotent rage and an overall sense of inferiority.)
					</div>
				</div>
				<div class="form-row">
					<textarea type="text-box" value="Asd"></textarea>
				    <button class="btn btn-default">sugar coat</button>
				</div>

				<% if(processedText){ %>
				<div class="sugar-coated">
					<div class="form-row sugar-wrapper">
						<div class=""><%= processedText %></div>
					</div>
				</div>
				<% } %>

			</div>
		</div>
		<!-- <div class="sticky-note-wrapper">
			<div class="foreground-peel-corner"></div>
			<div class="peel-pretend-background"></div>
			<div class="note-part"></div>

		</div> -->