
		<div class="card">
			<h1>Sugar Coater</h1>
			<div class="form-wrapper">
				<div class="form-row">
					<textarea type="text-box"></textarea>
					<div>
						<button class="btn btn-default">sugar coat</button>
					</div>
				</div>

				<% if(processedText){ %>
				<div class="form-row sugar-coated">
					<div class=""><%= processedText %></div>
				</div>
				<% } %>

			</div>
		</div>
		<!-- <div class="sticky-note-wrapper">
			<div class="foreground-peel-corner"></div>
			<div class="peel-pretend-background"></div>
			<div class="note-part"></div>

		</div> -->