
		<div class="card">
			<h1>SugarCoater</h1>
			<div class="form-wrapper">
				<div class="form-row">
					<h2>When you can't lose your shit, serve it up with a smile. </h2>
					<div class="description">
						<br/>
						<br/>
Pissed at a boss, co-worker, fellow PTA parent, neighbor, friend--or any other human being else on the planet?  Enter what you really want to say to them on the left.  (Ex. "Die in a fire, you fucking bitch!" "Hey, shit-for-brains, go fuck yourself!") 
						<br/>
						<br/>
And, voila!  Vaguely demeaning, soul destroying, confusingly infuriating yet socially acceptable passive-aggressive words or behaviors that will haunt your (fr)enemy for life will appear on the right.   (Can be used without fear of legal action of any kind.  Guaranteed to instill insecurity,  impotent rage and an overall sense of inferiority.)
					</div>
				</div>
				<div class="form-row">
					<textarea type="text-box" value="Asd"></textarea>
					<div>
						<button class="btn btn-default">sugar coat</button>
					</div>
				</div>

				<% if(processedText){ %>
				<div class="form-row sugar-coated">
					<div class=""><%= processedText %></div>
				</div>
				<% } %>

			</div>
		</div>
		<!-- <div class="sticky-note-wrapper">
			<div class="foreground-peel-corner"></div>
			<div class="peel-pretend-background"></div>
			<div class="note-part"></div>

		</div> -->